<!-- begin::Header Nav -->
<ul class="menu-nav" [ngClass]="ulCSSClasses">
  <li
  class="menu-item"
  aria-haspopup="true"
  routerLinkActive="menu-item-active"
>
<!--  <a class="menu-link" routerLink="/manager-video" routerLinkActive="active">-->
<!--    <span-->
<!--      [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"-->
<!--      cacheSVG="true"-->
<!--      class="svg-icon menu-icon"-->
<!--    ></span>-->
<!--    <span class="menu-text" >Video cua toi</span>-->
<!--  </a>-->
</li>
</ul>
<!-- end::Header Nav -->
